# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.sql

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/shortener/main
cmd/shortener/shortener

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode
.sql
cmd/shortener/storage
internal/app/storage/createme.txt

internal/app/storage/database_integration*
internal/app/storage/database_integration_test
